body {
    font-family: 'Poppins', sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    display: inline-block;
    position: relative;
}
.navbar {
  background: #D8E1E6;
}

.nav-link {
    text-decoration: none;
    color: #000;
    padding: 15px;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: #3A6F83;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #3A6F83;
}

.nav-link:hover::after {
    width: 100%;
}

/* Hero */
#hero {
    background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/2.png");
    background-size: cover;  
    background-repeat: no-repeat;
    position: center;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#hero h1 {
    margin: 0 0 10px;
    font-size: 90px;
    font-weight: bold;
    line-height: 90px;
    color: #fff;
}

#hero .btn {
    background: #FFBB5C;
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
    width: 120px;
    font-size: 17px;
    align-items: center;   
    transition: 0.3s;
}

#hero .btn:hover {
    background-color: rgba(53, 108, 132, 0.5);
    border: 2px solid #FFBB5C;
    color: #FFBB5C;
    opacity: 1;
}

#hero .btn::after {
    content: "";
    position: absolute;
    background-color: #3A6F83;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #3A6F83;
}

/* Quotes */
.quotes {
    background: linear-gradient(360deg, #9EBCC5 -14.92%, #9AB9C3 -14.9%, #3A6F83 62.46%, #3A6F83 66.77%);
    color: #fff;
}

.quotes .col1 {
    padding-top: 150px;
    font-style: italic;
}

.quotes h1 {
    font-weight: bold;
}

.quotes .col2 {
    padding-top: 20px;
    font-style: italic;
}

.quotes h5 {
    font-weight: bold;
}

.quotes .r2 {
    padding-bottom: 50px;
}


/* About */
.about {
    background: linear-gradient(rgba(140, 174, 185, 1), rgba(140, 174, 185, 0));
}

#about .col1 {
    width: 495px;
    height: 511px;
    left: 183px;
    top: 712px;
}

#about .col2 {
    width: 666px;
    height: 190px;
    left: 532px;
    padding-top: 70px;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
}

.about p {
    text-align: justify;
}

#about .btn {
    background: #FFBB5C;
    color: #fff;
    transition: 0.3s;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 120px;
}

#about .btn:hover {
    background-color: rgba(53, 108, 132, 0.5);
    border: 2px solid #FFBB5C;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 120px;
    color: #FFBB5C;
    transition: 0.3s;
}

.about img {
    width: 100%;
    height: auto;
}

.bg {
    background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/about_us/gedungparmad.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    position: center;   
    max-width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

/* Definition */

.definition h1 {
    font-weight: bold;
    line-height: 90px;
}

.definition {
    background: rgba(58, 111, 131, 1);
    max-width: 100%;
    height: 40vh;
    color: #fff;
}

.definition p {
    text-align: justify;
    font-size: 25px;
}

/* Business */
.business {
    margin-top: 200px;
}

.business .card {
    width: 100%;
    height: 36vh;
}

.business .card img {
    width: 100%;
    height: 36vh;
    object-fit: contain;
}

.business .card-title {
    font-weight: bold;
}

.business .card-text {
    padding-top: 5px;
    text-align: justify;
    font-weight: normal;
}


.business a {
    display: flex;
    justify-content: start;
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* About us Vision */
.vision {
    padding-top: 50px;
}

.vision h1 {
    font-weight: bold;
    line-height: 90px;
}

.vision p {
    font-size: 25px;
}

.vision ul {
    list-style: none;
    font-size: 25px;
    text-align: justify;
}

/* Activities */
.activities {
    margin-top: 40px;
}

.section-title h1 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 500px;
    height: 3px;
    background: #000;
    font-weight: bold;
    bottom: 0;
    left: 0;
  }

  .activities img {
    width: 100%;
    height: 30vh;
}

    .activities .card {
        overflow: hidden;
    }

  .activities .card img {
    transform: scale(1); 
    transition: 0.3s ease-in-out;
  }

  .activities .card img:hover {
    transform: scale(1.1);
  }


/* About us Values */
.values {
    background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/15.png");
    background-size: cover;  
    background-repeat: no-repeat;
    position: center;   
    max-width: 100%;
    height: 65vh;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.values h1 {
    font-weight: bold;
    line-height: 90px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}

.values p {
    font-size: 50px;
}

.title h1 {
    padding-top: 50px;
    font-weight: bold;
    line-height: 90px;
    text-align: center;
}


/* About us Program */
.program img {
    width: 100%;
    height: 30vh;
}

.card-text {
    font-weight: bold;
}


.program .card {
    overflow: hidden;
}

.program .card img {
transform: scale(1); 
transition: 0.3s ease-in-out;
}

.program .card img:hover {
transform: scale(1.1);
}


/* About us Footer */
.footer2 {
    margin-top: 50px;
    background: rgba(255, 187, 92, 1);
    max-width: 100%;
    height: 65vh;
}


.footer2 .col1 {
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
}

.footer2 img {
    padding-top: 50px;
    width: 580px;
}

.footer2 h1 {
    font-weight: bold;
    line-height: 90px;
    text-align: center;
}

.footer2 p {
    font-size: 25px;
}

.footer2 .btn {
    background: #3A6F83;
    color: #fff;
    transition: 0.3s;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 120px;
}


/* Media/Mobile */
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/bghp.png");
        background-attachment: inherit;
        object-fit: cover;
    }
    #hero h1 {
      font-size: 35px;
      line-height: 36px;
    }

       /* About us */
    #about p {
        font-size: 17px;
        color: #000;
    }
    #about .col2 {
        margin-top: -200px;
    }
    .bg {
        background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/about_us/parmadhp.jpg");
        background-size: cover;  
        background-repeat: no-repeat;
        position: center;   
        max-width: 100%;
        height: 60vh;
        /* margin-left: auto;
        margin-right: auto; */
    }

    /* Business */
    .business .card {
        width: 100%;
        height: 100%;
    }
    .business .card img {
        width: 100%;
        height: auto;
    }
    .business .card-title {
        font-size: 17px;
        font-weight: bold;
    }
    .business .card-owner {
        font-size: 15px;
    }
    .business .card-text {
        font-size: 14px !important;
        padding-top: 5px;
        text-align: justify;
        font-weight: normal;
    }
    .business a {
        display: flex;
        justify-content: start;
        text-decoration: none;
    }

    /* Definition */
    .definition {
        background: rgba(58, 111, 131, 1);
        max-width: 100%;
        height: 65vh;
        color: #fff;
        font-size: 25px;
    }
    .definition h1 {
        font-weight: bold;
        line-height: 36px;
        font-size: 25px;
    }
    .definition p {
        text-align: justify;
        font-size: 20px;
    }
    .vision {
        padding-top: 25px;
    }
    
    .vision h1 {
        font-weight: bold;
        line-height: 36px;
        font-size: 25px;
    }
    
    .vision p {
        text-align: justify;
        font-size: 20px;
    }
    
    .vision ul {
        list-style: none;
        text-align: justify;
        font-size: 20px;
    }
    .values {
        background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/18.png");
        background-size: cover;  
        background-repeat: no-repeat;
        position: center;   
        max-width: 100%;
        height: 65vh;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
    }
    .values h1 {
        font-weight: bold;
        line-height: 36px;
        font-size: 25px;
    }
    
    .values p {
        font-size: 22px;
    }
    .program h1 {
        font-weight: bold;
        line-height: 36px;
        font-size: 25px;
    }
    .program .card {
        width: 1;
    }
    .title h1 {
        font-weight: bold;
        line-height: 36px;
        font-size: 25px;
    }
    .structure h4 {
        font-size: 22px;
    }
    .structure p {
        font-size: 20px;
    }
    .footer2 {
        background: rgba(255, 187, 92, 1);
        max-width: 100%;
        height: 65vh;
    }
    .footer2 h1 {
        padding-top: 25px;
        font-weight: bold;
        line-height: 36px;
        font-size: 25px;
    }
    .footer2 p {
        font-size: 20px;
    }
    .footer2 img {
        padding-top: 10px;
        width: 312px;
    }

    /* Quotes */
    .quotes {
        padding-top: 5px;
    }
    .quotes h1 {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .quotes h5 {
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
    .quotes .r2 {
        margin-top: -25px;
    }
    .activities h1 {
        font-size: 23px;
        font-weight: bold;
    }
    .section-title h1 {
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
        position: relative;
    }
    .section-title h1::after {
        content: "";
        position: absolute;
        display: block;
        width: 200px;
        height: 3px;
        background: #000;
        font-weight: bold;
        bottom: 0;
        left: 0;
      }
      .footer h1 {
        font-weight: bold;
        font-size: 30px !important;
        line-height: 36px;
        text-align: center;
      }
    .footer {
        margin-top: 15px;
        background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/footerhp.png") !important;
        background-attachment: inherit;
        object-fit: cover;
    }
    .contact p {
        font-size: 20px !important;
        font-weight: bold;
    }
    .contact img {
        width: 180px !important;
    }
  }


  /* Footer */
  .footer {
    background: linear-gradient(0deg, rgba(53, 108, 132, 0.5), rgba(53, 108, 132, 0.5)), url("/assets/Images/1.png");
    margin-top: 40px;
    background-size: cover;  
    background-repeat: no-repeat;
    position: center;   
    max-width: 100%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
  }

  .footer h1 {
    color: #fff;
    margin: 0 0 10px;
    font-size: 80px;
    font-weight: bold;
    line-height: 90px;
  }

  .footer .btn {
    background: #FFBB5C;
    color: #fff;
    transition: 0.3s;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 120px;
  }

  .footer .btn:hover {
    background-color: rgba(53, 108, 132, 0.5);
    border: 2px solid #FFBB5C;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 120px;
    color: #FFBB5C;
    transition: 0.3s;
}

/* contact */
.contact {
    padding-top: 50px;
    background: rgba(255, 255, 255, 1);
}

.contact p {
    font-size: 40px;
    font-weight: bold;
}

.contact .row2 {
    padding-top: 30px;
}

.contact img {
    width: 250px;
}

.contact .icons a, .contact .icons a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.contact a i, .contact a:focus i {
    font-size: 30px;
    padding-right: 8px;
    color: #6f7180;
  }